<header>
<div class="wrapper">
  <div class="logo">Movie log</div>

  <nav>
    <a class='hov' href="#">Top</a>
    <a class='hov' (click)='filtro(1)'>Géneros</a>
    <a class='hov' (click)='filtro(2)'>Décadas</a>
    <a class='hov' href="#">Favoritos</a>
  </nav>

  <nav class="nav3">
    <a *ngIf="!isUserLogin" href="#">SignUp</a>
    <a *ngIf="!isUserLogin" href="#">LogIn</a>
  </nav>

  <nav class="nav2">
    <a *ngIf="isUserLogin" href="#">User
      <img
        style="margin-left:20px;; float: right"
        src="https://cdn.discordapp.com/attachments/690325769234415646/920852902552166440/icons8-user-64.png"
        width="50px"
        height="50px"
    /></a>
  </nav>

  <form class="nav4">
    <input
      class="intputstyle"
      type="text"
      placeholder="Buscar..."
      [(ngModel)]="txtbuscado"
      [ngModelOptions]="{standalone: true}"
    />
    <img
      class="image"
      style="margin-bottom:-15px; cursor: pointer;"
      src="https://cdn.discordapp.com/attachments/690325769234415646/920852943320780830/icons8-search-50.png"
      width="50px"
      height="50px"
      (click)="buscar()"
    />
  </form>

</div>
</header>
<div class= 'menu1 hide'>

<p *ngFor= 'let genero of generos'> {{genero.nombre}} <img
class="image"
style="margin-bottom:-12px;  float:right;"
src="{{genero.imagen}}"
width="40px"
height="40px"
(click)="buscar()"
/>  </p>

</div>


<div class= 'menu2 hide'>

<p *ngFor= 'let decada of decadas'> {{decada.nombre}} </p>

</div>

<div class= 'menu3 hide'>

<p *ngFor= 'let option of userOptions'>  {{option.nombre}} <img
    class="image"
    style="margin-bottom:-12px;  float:right;"
    src="{{option.imagen}}"
    width="40px"
    height="40px"
    (click)="buscar()"
  />  
</p>

</div>