<header>
  <div class="wrapper">
    <div class="logo">Movie log</div>

    <nav>
      <a href="#">Top</a>
      <a href="#">Géneros</a>
      <a href="#">Décadas</a>
      <a href="#">Favoritos</a>
    </nav>

    <nav class="nav3">
      <a *ngIf="!isUserLogin" href="#">SignUp</a>
      <a *ngIf="!isUserLogin" href="#">LogIn</a>
    </nav>

    <nav class="nav2">
      <a *ngIf="isUserLogin" href="#">
        <p style="margin-top:10px; margin-bottom: 10px; float:left;">User</p>
        <img
          style="margin-left:20px; margin-top:5px; margin-bottom:5px; float: right"
          src="https://cdn.discordapp.com/attachments/690325769234415646/920852902552166440/icons8-user-64.png"
          width="50px"
          height="50px"
      /></a>
    </nav>

    <form class="nav4">
      <input class="intputstyle" type="text" placeholder="Buscar..." />
      <img
        class="image"
        style="margin-bottom:-15px;"
        src="https://cdn.discordapp.com/attachments/690325769234415646/920852943320780830/icons8-search-50.png"
        width="50px"
        height="50px"
      />
    </form>
  </div>
</header>
