<header>
  <div class="wrapper">
    <div class="logo">Movie log</div>

    <nav>
      <a class="hov" routerLink="destacados" routerLinkActive="active-router"
        >Top</a
      >
      <a class="hov" (click)="filtro(1)">Géneros</a>
      <a class="hov" (click)="filtro(2)">Décadas</a>
      <a
        class="hov"
        href="#"
        routerLink="favoritos"
        routerLinkActive="active-router"
        >Favoritos</a
      >
    </nav>

    <nav class="nav3">
      <a (click)="openDialogSign()" *ngIf="!isUserLogin">SignUp</a>
      <a (click)="openDialogLog()" *ngIf="!isUserLogin">LogIn</a>
    </nav>

    <nav (click)="filtro(3)" class="nav2">
      <a *ngIf="isUserLogin"
        >{{ username }}
        <img
          style="margin-left:20px;; float: right"
          src="https://cdn.discordapp.com/attachments/690325769234415646/920852902552166440/icons8-user-64.png"
          width="50px"
          height="50px"
      /></a>
    </nav>

    <form class="nav4">
      <input
        class="intputstyle"
        type="text"
        placeholder="Buscar..."
        [(ngModel)]="txtbuscado"
        [ngModelOptions]="{ standalone: true }"
      />
      <img
        class="image"
        style="margin-bottom:-15px; cursor: pointer;"
        src="https://cdn.discordapp.com/attachments/690325769234415646/920852943320780830/icons8-search-50.png"
        width="50px"
        height="50px"
        (click)="buscar()"
        routerLink="buscados"
        routerLinkActive="active-router"
      />
    </form>
  </div>
</header>
<div class="menu1 hide">
  <!--(click)="" con {{aumenta una accion o palabra clave en la base de "datos"}} ver el menu de abajo menu 3 -->
  <p
    *ngFor="let genero of generos"
    routerLink="{{ genero.nombre }}"
    routerLinkActive="active-router"
  >
    {{ genero.nombre }}
    <img
      class="image"
      style="margin-bottom:-12px;  float:right;"
      src="{{ genero.imagen }}"
      width="40px"
      height="40px"
      (click)="buscar()"
    />
  </p>
</div>

<div class="menu2 hide">
  <p
    *ngFor="let decada of decadas"
    routerLink="{{ decada.nombre }}"
    routerLinkActive="active-router"
  >
    {{ decada.nombre }}
  </p>
</div>

<div class="menu3 hide">
  <p *ngFor="let option of userOptions" (click)="actionMenu3(option.nombre)">
    {{ option.nombre }}
    <img
      class="image"
      style="margin-bottom:-12px;  float:right;"
      src="{{ option.imagen }}"
      width="40px"
      height="40px"
      (click)="buscar()"
    />
  </p>
</div>
