<div id="contenedor">
  <div>
<img
  src='https://flxt.tmsimg.com/assets/p166206_p_v13_ao.jpg'
  width=70%
/>
  </div>
  <div>

<h1>Pelicula</h1>

<h2>Descripcion</h2>
<h3>Aqui va la descripcion</h3>

<h2>Trailer</h2>


<iframe width="560" height="200" src="https://www.youtube.com/embed/_wnS_RCDdtI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <button>Guardar en favoritos</button>

</div>