<body>
  <div class="box">
    <img
      style="margin-left:20px;; float: right"
      src="{{ peliculascab[0].portada2 }}"
      width="800px"
      height="440px"
      style="margin-right: -350px"
      alt="{{ peliculascab[0].titulo }}"
      (click)="openDialogDes(peliculascab[0])"
    />

    <nav>
      <div>
        <a (click)="openDialogDes(peliculascab[1])">
          <img
            style="margin-left:20px;; float: right"
            src="{{ peliculascab[1].portada }}"
            width="50px"
            height="80px"
            style="float: left; margin-right: 10px"
          />
          {{ peliculascab[1].titulo }}
          <p style="font-size : 15px; margin-top:-10px; width: 350px">
            {{ peliculascab[1].descripcion }}
          </p>
        </a>
      </div>

      <div>
        <a (click)="openDialogDes(peliculascab[2])">
          <img
            style="margin-left:20px;; float: right"
            src="{{ peliculascab[2].portada }}"
            width="50px"
            height="80px"
            style="float: left; margin-right: 10px"
          />
          {{ peliculascab[2].titulo }}
          <p style="font-size : 15px; margin-top:-10px; width: 350px">
            {{ peliculascab[2].descripcion }}
          </p>
        </a>
      </div>

      <div>
        <a (click)="openDialogDes(peliculascab[3])">
          <img
            style="margin-left:20px;; float: right"
            src="{{ peliculascab[3].portada }}"
            width="50px"
            height="80px"
            style="float: left; margin-right: 10px"
          />
          {{ peliculascab[3].titulo }}
          <p style="font-size : 15px; margin-top:-10px; width: 350px">
            {{ peliculascab[3].descripcion }}
          </p>
        </a>
      </div>
      <div>
        <a (click)="openDialogDes(peliculascab[4])">
          <img
            style="margin-left:20px;; float: right"
            src="{{ peliculascab[4].portada }}"
            width="50px"
            height="80px"
            style="float: left; margin-right: 10px"
          />
          {{ peliculascab[4].titulo }}
          <p style="font-size : 15px; margin-top:-10px; width: 350px">
            {{ peliculascab[4].descripcion }}
          </p>
        </a>
      </div>
    </nav>
  </div>

  <div class="wrapper">
    <nav *ngFor="let pelicula of peliculas">
      <div (click)="openDialogDes(pelicula)">
        <img
          style="margin-left:20px;; float: right"
          src="{{ pelicula.portada }}"
          width="250px"
          height="340px"
        />
        <p>{{ pelicula.titulo }}</p>
      </div>
    </nav>
  </div>
</body>
